<div class="row">
	<div class="span12">
		<div class="row">

			<%= render "layouts/sidemenu" %>

			<div class="span8">



				<div class="row">
					<div class="span8">
						<h1>ギャラリー天</h1>
					</div>
				</div>
				<div class="row">
					<div class="span10">
						<br><br>
						<p>たまに工房の外からは、豆腐屋さんの笛の音が。。。<br>
						思わず外に飛び出たくなる。<br>
						夕方ちかくなると、小学生の帰宅姿が。<br>
						ふと顔をあげると、窓から小学生が見ていることも。<br>
						そんなのんびりした雰囲気の工房です。</p>
					</div>
				</div>



			</div>
		</div>
	</div>
</div>