<div class="row">
	<div class="span12">
		<br><br>
	</div>
	<div class="span1">
		<h1>お<br>問<br>い<br>合<br>わ<br>せ</h1>	
	</div>
	<div class="span8">
		<h3>気軽にご連絡ください！</h3>
		<p>Insert Intro text here!</p>
		<table class="table">
			<tr>
				<td>住所:</td><td>〒146-0084 東京都大田区南久が原2-31-10</td>
			</tr>
			<tr>	
				<td>電話:</td><td>03-5482-5245</td>
			</tr>
			<tr>	
				<td>メール:</td><td>gallery.ten.info@gmail.com<br>
				メールでのお問い合わせは返答に時間がかかる場合がございます、ご了承ください。</td>
			</tr>
		</table>
		<p>東急多摩川線下丸子駅より徒歩4分<br>
		東急池上線千鳥町駅より徒歩5分<br>
		駐車場有り</p>
	</div>
</div>