<div class="row">
	<div class="span12">
		<br><br>
	</div>
	<div class="span1">
		<h1>お<br>問<br>い<br>合<br>わ<br>せ</h1>	
	</div>
	<div class="span8">
		<h3>気軽にご連絡ください！</h3>
		<p>Insert Intro text here!</p>
		<table class="table">
			<tr>
				<td>住所:</td><td>〒146-0084 東京都大田区南久が原2-31-10</td>
			</tr>
			<tr>	
				<td>電話:</td><td>03-5482-5245</td>
			</tr>
			<tr>	
				<td>メール:</td><td>gallery.ten.info@gmail.com<br>
				メールでのお問い合わせは返答に時間がかかる場合がございます、ご了承ください。</td>
			</tr>
		</table>
		<p>東急多摩川線下丸子駅より徒歩4分<br>
		東急池上線千鳥町駅より徒歩5分<br>
		駐車場有り</p>

		<iframe width="640" height="420" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=ja&amp;geocode=&amp;q=%E3%82%AE%E3%83%A3%E3%83%A9%E3%83%AA%E3%83%BC%E5%A4%A9&amp;sll=35.582037,139.696452&amp;sspn=0.067711,0.053301&amp;g=%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%A4%A7%E7%94%B0%E5%8C%BA%E4%B9%85%E3%81%8C%E5%8E%9F2-31-10&amp;ie=UTF8&amp;ll=35.575101,139.685862&amp;spn=0.008325,0.013733&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=ja&amp;geocode=&amp;q=%E3%82%AE%E3%83%A3%E3%83%A9%E3%83%AA%E3%83%BC%E5%A4%A9&amp;sll=35.582037,139.696452&amp;sspn=0.067711,0.053301&amp;g=%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%A4%A7%E7%94%B0%E5%8C%BA%E4%B9%85%E3%81%8C%E5%8E%9F2-31-10&amp;ie=UTF8&amp;ll=35.575101,139.685862&amp;spn=0.008325,0.013733&amp;z=16&amp;iwloc=A" style="color:#0000FF;text-align:left">大きな地図で見る</a></small>

	</div>
</div>