<div class="row">
	<div class="span12">
		<div class="row">

			<%= render "layouts/sidemenu" %>

			<div class="span8">
				<h1>お問い合わせ</h1>

				<!-- Place page content here -->

			</div>

		</div>
	</div>
</div>