<div class="row">
	<div class="span3 offset9 ">
		<p class="pull-right">〒146-0084 東京都大田区南久が原2-31-10</p>
	</div>
</div>

<div class="hero-unit">
	<h1>ギャラリー</h1>
	<p>Couldn't make it? Watch it unfold in realtime!</p>
	<p><a class="btn btn-primary btn-large">続きを読む &raquo;</a></p>
</div>

<div class="row">
	<div class="span4">
		<h2>ギャラリー天</h2>
		<p>Svea Viola seeks out an brings you the best of new and old Scandinavian designs. Shop straight from our online store, or visit any of our many partners.</p>
		<p><a class="btn" href="#">続きを読む &raquo;</a></p>
	</div>
	<div class="span4">
		<h2>天明先生</h2>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		<p><a class="btn" href="#">続きを読む &raquo;</a></p>
	</div>
	<div class="span4">
		<h2>陶芸教室</h2>
		<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		<p><a class="btn" href="#">続きを読む &raquo;</a></p>
	</div>
</div>