<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>gallary ten</title>
    <meta name="description" content="">
    <meta name="author" content="">

		<%= render 'layouts/stylesheets' %>

	</head>
	<body>

		<%= render 'layouts/header-topbar' %>

		<div class="container">

			<%= yield %>

			<hr>

			<footer>
			<p>&copy; Gallery Ten 2012</p>
			</footer>
		</div>
	</body>
</html>