<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>gallary ten</title>
    <meta name="description" content="">
    <meta name="author" content="">

		<%= render 'layouts/stylesheets' %>

	</head>
	<body>

		<%= render 'layouts/header-topbar' %>

		<div class="container">

			<div class="row">
			    <div class="8 offset1">
					<p class="pull-right">03-5482-5245 | 〒146-0084 東京都大田区南久が原2-31-10</p>
				</div>
			</div>

			<%= yield %>

			<hr>

			<footer>
			<p>&copy; Gallery Ten 2012</p>
			</footer>
		</div>
	</body>
</html>